*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
}
.container video{
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}
.navbar{
    width: 1140px;
    max-width: 88%;
    height: 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-between;
}
.navbar h1{
    color: #fff;
    font-size: 40px
}
.navbar nav ul li{
    display: inline-block;
    list-style: none;
}
.navbar nav ul li a{
    color: #fff;
    text-decoration: none;
    padding-left: 40px;
    position: relative;
}
.watch{
    position: absolute;
    left: 200px;
    background: #000;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.content h1{
    font-size: 60px;
    font-weight: bold;
}
.content h2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.content p{
    font-size: 20px;
    margin-bottom: 30px;
}
.content button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    color: black;
    background: #fff;
}